@import '/src/styles/variables.scss';

nav {
  background-color: $color-black;
  padding: 1rem;

  ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  a {
    text-transform: uppercase;
    color: $color-white;
    &:hover {
      color: $color-yellow;
    }
  }
}
