@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

nav {
  background-color: $color-black;
  border-bottom: 3px solid $color-white;
  padding: 1rem;

  ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    @include respond-to('small') {
      display: grid;
      grid-template-columns: 1fr;
     }
  }

  a {
    padding: 0 1rem;
    text-transform: uppercase;
    background-color: $color-black;
    color: $color-white;
    &:hover {
      color: $color-yellow;
    }
  }
}
