@import '/src//styles/variables.scss';

.person{
    padding: 2rem;
}

.person-details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
}

.person-movies {
    display: flex;
    flex-wrap: wrap;

    h3{
        font-size: $font-big;
        margin-top: 2rem;
        width: 100%;
    }
    a {
        padding: 0.5rem 1rem;
        margin: 1rem;
        font-size: $font-small;             
    }
}
