.films {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem;
    justify-content: center;
    min-height: 90vh;
}

.film-tile {
    width: 30rem;
    padding: 2rem;
    color: white;
    background-color: darkcyan;
    border: 3px solid black;
}