$font-small: 12px;
$font-normal: 16px;
$font-medium: 20px;
$font-big: 24px;
$font-huge: 28px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-yellow: #FFE81F;
$color-dark-yellow: #ffd700;
$color-background: #282727
